 <ion-header>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-menu-button menu="search" autohide="false">
                <ion-icon size="large" name="search-circle-outline"></ion-icon>
            </ion-menu-button>
        </ion-buttons>


        <ion-title>
            Sites d'escalade
        </ion-title>

    </ion-toolbar>

</ion-header>

<ion-content>

    <ion-card *ngFor = "let site of sites" [routerLink]="['site', site.id]">
        <ion-card-header>
            <ion-card-title> {{site.nom}} </ion-card-title>
            <ion-grid>
                <ion-row>
                    <ion-col >
                        <div *ngIf = "site.milieuArtificiel == true else milieuNaturel">
                            <b>Coord : </b>
                            {{site.numAdresse}} 
                            {{site.voieAdresse}} <br>
                            {{site.villeAdresse}}
                        </div>
                         <ng-template #milieuNaturel>
                            <b>Lat : </b> {{site.latitude}} <br>
                            <b>Long : </b> {{site.longitude}} <br>
                            {{site.villeAdresse}}
                         </ng-template> 

                    </ion-col>  

                    <ion-col  class="ion-text-right">
                        <b>Milieu : </b>
                        {{site.milieu}}
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-header>
        <div class="img-site" [ngStyle]="{'background-image': 'url('+site.image+')'}">
        </div>
        <ion-card-content>
            {{site.description}}
        </ion-card-content>
    </ion-card>

</ion-content>