<ion-header>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
        <ion-buttons slot="end">
            <ion-button [hidden]="!userAuth" [routerLink]="['edit-site']" expand="full">
                <ion-icon expand="full" name="settings-sharp"></ion-icon>
            </ion-button>
        </ion-buttons>


        <ion-title *ngIf="site">
           {{site.nom}}
        </ion-title>

    </ion-toolbar>

</ion-header>

<ion-content>
<div *ngIf="site">
     <ion-grid>
        <ion-row>
            <ion-col size="6">
                <div *ngIf = "site.milieuArtificiel == true else milieuNaturel">
                    <b>Coord : </b>
                    {{site.numAdresse}} 
                    {{site.voieAdresse}} <br>
                    {{site.villeAdresse}}
                </div>
                 <ng-template #milieuNaturel>
                    <b>Lat : </b> {{site.latitude}} <br>
                    <b>Long : </b> {{site.longitude}} <br>
                    {{site.villeAdresse}}
                 </ng-template> 


            </ion-col>
            
            <ion-col size="6">
                <ion-text *ngIf = "site.roche"><b >Type de roche : </b>  {{site.roche}} <br/></ion-text>
                <ion-text *ngIf = "site.altitude"><b >Altitude : </b>  {{site.altitude}} <br/></ion-text>
                <ion-text *ngIf = "site.milieu"><b >Milieu : </b>  {{site.milieu}} <br/></ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div class="acces-text">
        <ion-text>
            <b>Accès au site :</b><br/> 
            {{site.acces}}
        </ion-text>
    </div>
</div>
   
    <div class="note">

        <ion-toolbar>
            <ion-icon class = "ion-icon-star" size="large" name="star"></ion-icon>
            <ion-icon size="large" name="star"></ion-icon>
            <ion-icon size="large" name="star"></ion-icon>
            <ion-icon size="large" name="star-half-outline"></ion-icon>
            <ion-icon size="large" name="star-outline"></ion-icon>
        </ion-toolbar>

        <ion-text> 3.75/5 (XXX Avis)</ion-text>
        <br>

        <ion-button [hidden]="!userAuth" class="button-note" (click)="popupNotation()">Noter le site</ion-button>
    </div>

    <ion-card *ngFor = "let secteur of secteurs">
        <ion-card-header>
            <ion-card-title>{{secteur.nom}}</ion-card-title>
            <ion-label *ngIf ="secteur.orientation"> <b>Orientation : </b> {{secteur.orientation}} </ion-label>
        </ion-card-header>
        <div class="img-secteur"  *ngIf ="secteur.image" [ngStyle]="{'background-image': 'url('+secteur.image+')'}">
        </div>
        <ion-card-content>
            {{secteur.description}}
        </ion-card-content>
        <!-- <div class="histogramme"><canvas id="cotations-voies"></canvas></div> -->
        <app-histogram idSecteur ="{{secteur.id}}"></app-histogram>

    </ion-card>

    
    <ion-card>
        <ion-card-header>
            <ion-card-title>Nom du secteur numéro un</ion-card-title>
            <ion-label> <b>Orientation : </b> Sud-ouest </ion-label>
        </ion-card-header>
        <div class="img-secteur">
            <img src="https://picsum.photos/id/237/800/110">
        </div>
        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.

        </ion-card-content>

        <div class="histogramme"><canvas id="cotations-voies"></canvas></div>

    </ion-card>

    <ion-button [hidden]="!userAuth" [routerLink]="['create-secteur']" expand="full">Créer un secteur pour ce site</ion-button>
</ion-content>