<ion-header>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
        <ion-buttons slot="end">
            <ion-button [hidden]="!userAuth" [routerLink]="['edit-site']" expand="full">
                <ion-icon expand="full" name="settings-sharp"></ion-icon>
            </ion-button>
        </ion-buttons>


        <ion-title>
            Nom du site numéro 1
        </ion-title>

    </ion-toolbar>

</ion-header>

<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col size="2">
                <b>Coord :</b>

            </ion-col>
            <ion-col size="4">
                11 avenue de l'Europe <br/> 31000 Toulouse

            </ion-col>
            <ion-col size="4">
                <b>Type de roche : </b> <br/>
                <b>Altitude : </b> <br/>
                <b>Milieu : </b> <br/>
            </ion-col>
            <ion-col size="2">
                Granite <br/> 1200m <br/> Cascade <br/>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div class="acces-text">
        <ion-text>
            <b>Accès au site :</b><br/> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius est magni eveniet dolor placeat pariatur expedita modi, ipsum quas, autem qui vero rem recusandae repudiandae neque enim eos, nulla blanditiis.
        </ion-text>
    </div>
    <div class="note">

        <ion-toolbar>
            <ion-icon class = "ion-icon-star" size="large" name="star"></ion-icon>
            <ion-icon size="large" name="star"></ion-icon>
            <ion-icon size="large" name="star"></ion-icon>
            <ion-icon size="large" name="star-half-outline"></ion-icon>
            <ion-icon size="large" name="star-outline"></ion-icon>
        </ion-toolbar>

        <ion-text> 3.75/5 (XXX Avis)</ion-text>
        <br>

        <ion-button [hidden]="!userAuth" class="button-note" (click)="popupNotation()">Noter le site</ion-button>
    </div>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Nom du secteur numéro un</ion-card-title>
            <ion-label> <b>Orientation : </b> Sud-ouest </ion-label>
        </ion-card-header>
        <div class="img-secteur">
            <img src="https://picsum.photos/id/237/800/110">
        </div>
        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.

        </ion-card-content>

        <div class="histogramme"><canvas id="cotations-voies"></canvas></div>

    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Nom du secteur numéro un</ion-card-title>
            <ion-label> <b>Orientation : </b> Sud-ouest </ion-label>
        </ion-card-header>
        <div class="img-secteur">
            <img src="https://picsum.photos/id/237/800/110">
        </div>
        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.

        </ion-card-content>

        <div class="histogramme"><canvas id="cotations-voies2"></canvas></div>

    </ion-card>

    <ion-button [routerLink]="['create-secteur']" expand="full">Créer un nouveau secteur pour le site</ion-button>
</ion-content>