
ion-icon {
    color: gray;
}

ion-icon.active-star {
    color: orange;
}

ion-col {
    font-size: 12px;
}

ion-content {
    text-align: center;
    
    
}

.hidden {
    visibility : hidden;
    display : none
    
}
.text-send-note {
    font-size : 13px;
    font-weight : bold;
    padding : 5px;
    margin : 5px
    

}

